<div class="example-container" >
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-mini-fab (click)="snav.toggle()" style="background-color:white; color: purple" >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name" style="padding-left: 10px; font-size: 15px">Special component</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav >
      <mat-nav-list>
        <a mat-list-item routerLink="."  >Carrousel</a>
        <a mat-list-item routerLink= "/contact" routerLinkActive="active" >Formulaire</a>
        <a  mat-list-item routerLink="/table" routerLinkActive="active" >Table</a>
        <a *ngIf="false" mat-list-item routerLink=".">test ng if</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content style="background: #fff;height: 100vh">
      <!--<app-carrousel></app-carrousel>-->
      <!--<app-background-image></app-background-image>-->

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
