.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
}

.example-full-width {
  width: 20%;
}

.example-section {
  margin: 12px 0;
  color: black;
}

.mat-checkbox-inner-container {
  border-color: black !important;
}
