<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button>
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with email icon">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with profile icon">
      <mat-icon>account_circle</mat-icon>
    </button>

  </mat-toolbar>
</p>

<carousel>
  <div class="carousel-cell">
    <img src="/assets/images/photo1.jpg" alt="photo1">
  </div>
  <div class="carousel-cell">
    <img src="/assets/images/photo2.jpg" alt="photo2">
  </div>
</carousel>
